@tailwind base;
@tailwind components;
@tailwind utilities;

/* - Very Dark Gray: #2b2b2b
- Dark Gray: #969696 */

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}